{% extends 'base.html' %}
{% block title %}Add or edit a patient{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="form-group-row">
  <div class="col-md-2">
    <div class="card-body">
      <form style="width: 500px;" method="post" action="">
        {% if request.get_full_path == "/addpatient" %}
        <h3 style="width: 500px;">Add patient</h3>
        {% else %}
        <h3 style="width: 500px;">Edit patient</h3>
        {% endif %}
        {% csrf_token %} {{ form|crispy }}
        <input
          class="btn btn-primary mt-3"
          type="submit"
          name="Submit"
          value="Submit"
        />
      </form>
    </div>
  </div>
</div>
{% endblock %}
